<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238260117107-5mf3q8ekqvqmmurpric2r29qgpjg9cis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238260117107-5mf3q8ekqvqmmurpric2r29qgpjg9cis</string>
	<key>API_KEY</key>
	<string>AIzaSyDU0kmTnfzNDeMIWjVN4vQ7X_uaQnEFKT0</string>
	<key>GCM_SENDER_ID</key>
	<string>238260117107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csform.ionic4brkko</string>
	<key>PROJECT_ID</key>
	<string>ionic4-brkko-theme</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic4-brkko-theme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238260117107:ios:20e37bf50ceaf21f</string>
	<key>DATABASE_URL</key>
	<string>https://ionic4-brkko-theme.firebaseio.com</string>
</dict>
</plist>