<!--Profile- Profile 1-->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row>
      <ion-col size="12">
        <ion-card text-center box-shadow>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="data.image" alt="">
            </ion-avatar>
            <ion-label>
              <h1 text-size-md text-color-primary font-bold text-wrap>{{data.title}}</h1>
              <p text-size-xs text-color-primary font-light text-wrap>{{data.subtitle}}</p>
            </ion-label>
          </ion-item>
          <div social-share>
            <!-- Followers-->
            <ion-item lines="none" (click)="buttonClick()">
              <ion-label text-center>
                <span text-size-xs text-color-primary font-bold>{{data.valueFollowers}}</span>
                <div clearfix></div>
                <h2 text-size-xs text-color-primary font-bold>{{data.followers}}</h2>
              </ion-label>
            </ion-item>
            <!-- Following -->
            <ion-item lines="none" (click)="buttonClick()">
              <ion-label text-center>
                <span text-size-xs text-color-primary font-bold>{{data.valueFollowing}}</span>
                <div clearfix></div>
                <h2 text-size-xs text-color-primary font-bold>{{data.following}}</h2>
              </ion-label>
            </ion-item>
            <!-- Post -->
            <ion-item lines="none" (click)="buttonClick()">
              <ion-label text-center>
                <span text-size-xs text-color-primary font-bold>{{data.valuePosts}}</span>
                <div clearfix></div>
                <h2 text-size-xs text-color-primary font-bold>{{data.posts}}</h2>
              </ion-label>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <!-- Name Category -->
        <h1 text-uppercase text-size-xs text-color-primary no-margin font-bold text-center>{{data.category}}</h1>
      </ion-col>
      <ion-col size="12" size-md="4" text-center *ngFor="let item of data.items;let i = index"
        (click)="onItemClickFunc(item, $event)">
        <ion-card no-padding text-center box-shadow>
          <img [src]="item.backgroundCard" alt="">
          <ion-card-content>
            <span text-size-xs text-color-primary font-bold text-capitalize>{{item.category}}</span>
            <h1 text-size-md text-wrap text-color-primary font-regula padding-top>{{item.title}}</h1>
          </ion-card-content>
          <ion-button button-icon text-capitalize fill="clear" (click)="onLikeFunc(item, $event)">
            <ion-icon icon-small slot="start" [ngClass]="{'active' : item.like.isActive}"
            [name]="item.like.icon"></ion-icon>
            {{item.like.text}}
          </ion-button>
          <ion-button button-icon text-capitalize fill="clear" (click)="onCommentFunc(item, $event)">
            <ion-icon icon-small slot="start" [ngClass]="{'active' : item.comment.isActive}"
            [name]="item.comment.icon"></ion-icon>
            {{item.comment.number}} {{item.comment.text}}
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
