<!-- FORMS --COMPONENT 2 -->
<ion-grid padding-start padding-end *ngIf="data != null">
  <ion-row>
    <ion-col size="12" text-center>
      <span text-size-xs text-color-primary font-bold>{{data.rateTitle}}</span>
      <div clearfix></div>
      <div icon-rating padding-half>
        <div icon *ngFor="let item of data.iconsStars;let i = index" (click)="onRatesFunc(data.iconsStars, i, $event)">
          <i icon-medium *ngIf="item.isActive" class="icon {{item.iconActive}}"></i>
          <i icon-medium *ngIf="!item.isActive" class="icon {{item.iconInactive}}"></i>
        </div>
      </div>
      <div clearfix></div>
      <span text-size-xs text-color-primary font-bold>{{data.title}}</span>
    </ion-col>
    <ion-col size="12" textarea>
      <ion-item box-shadow lines="none" input>
        <ion-textarea rows="100%" cols="1" [placeholder]="data.descriptionPlaceholder" [(ngModel)]="item.description"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-text-end">
      <ion-button default-button expand="block" box-shadow text-capitalize (click)="onSubmitFunc($event)">
        {{data.btnSubmit}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
