<!-- NEW PASSWORD --COMPONENT 2 -->
<ion-page class="ion-page">
  <!-- Content -->
  <ion-content>
    <ion-grid no-padding>
      <ion-row align-items-center no-padding *ngIf="data != null">
        <ion-col padding size="12" size-md="8" push-md="2">
          <ion-item lines="none" no-padding transparent>
            <!---Logo-->
            <ion-img slot="start" [src]="data.logo"></ion-img>
            <ion-label padding-start>
              <!-- Subtitle -->
              <h2 text-size-md text-color-primary font-regular text-wrap>{{data.subtitle}}</h2>
              <!-- Title -->
              <h1 text-size-md text-color-accent font-regular text-wrap>{{data.title}}</h1>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col no-padding size="12" size-md="8" push-md="2">
          <!---Form-->
          <form text-center>
            <!---Input field Email-->
            <ion-item input lines="none">
              <ion-label padding-horizontal text-size-sm text-color-accent font-regular position="stacked">{{data.labelPassword}}</ion-label>
              <ion-input required type="password"
              [ngModelOptions]="{standalone: true}"
              [placeholder]="data.password"
              [(ngModel)]="item.password"></ion-input>
              <ion-icon *ngIf="!isPasswordValid" icon-small name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field Email-->
            <ion-item input lines="none">
              <ion-label padding-horizontal text-size-sm text-color-accent font-regular position="stacked">{{data.labelPasswordNew}}</ion-label>
              <ion-input required type="password"
              [ngModelOptions]="{standalone: true}" 
              [placeholder]="data.confrim"
              [(ngModel)]="item.confrim"></ion-input>
              <ion-icon *ngIf="!isConfrimValid" icon-small name="remove-circle"></ion-icon>
            </ion-item>
            <!---Send button-->
            <ion-button default-button text-capitalize expand="block" box-shadow margin (click)="onDoneFunc()">
              {{data.done}}
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
