<!-- COMMENTS --COMPONENT 1 -->
<ion-grid *ngIf="data != null" no-padding>
  <ion-row>
    <ion-col size="12" no-padding>
      <ion-list>
        <ion-list-header>
          <span text-size-xs text-color-primary font-bold margin-top>{{data.allComments}}</span>
        </ion-list-header>
        <ion-item *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
          <ion-avatar>
            <img [src]="item.image">
          </ion-avatar>
          <ion-label padding-start>
            <h3 text-size-xs font-bold>{{item.title}}</h3>
            <h3 text-size-sm>{{item.time}}</h3>
            <p text-size-p text-wrap padding-top>
              {{item.description}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
