<ion-grid no-padding *ngIf="data != null">
  <ion-row>
    <ion-col no-padding size="11" offset="1">
      <!-- Cards -->
      <ion-card no-padding *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
        <span text-size-xs text-color-primary font-bold text-wrap>{{item.time}}</span>
        <ion-item transparent margin-top lines="none" box-shadow>
          <ion-avatar align-self-start>
            <img [src]="item.avatar">
          </ion-avatar>
          <ion-label padding-start>
            <h2 text-size-md text-color-primary font-bold text-wrap>{{item.title}}</h2>
            <h3 text-size-xs text-color-primary font-regular text-wrap>{{item.subtitle}}</h3>
            <div clearfix></div>
            <p text-size-xs text-color-primary font-regular text-wrap padding-top>{{item.description}}</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
