<!-- ALERT --COMPONENT 1 -->
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of data.items"
    (click)="presentAlert(item, $event)">
      <ion-card padding box-shadow border-radius no-margin>
        <img [src]="item.image" />
        <ion-card-content no-padding margin-top>
          <h2 text-size-xs text-color-secondary>{{item.subtitle}}</h2>
          <h1 text-size-lg text-color-primary>{{item.title}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
