<!-- GOOGLE CARD --COMPONENT 1 -->
<ion-grid *ngIf="data != null">
  <ion-row>
    <ion-col size="12" size-sm="6" *ngFor="let item of data.items">
      <ion-card background-size box-shadow no-margin (click)="onEvent('onItemClick', item, $event)" [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}">
        <ion-item lines="none" transparent>
          <!--Card-content-->
          <ion-label>
            <h2 text-size-xl text-color-light font-bold text-wrap>{{item.title}}</h2>
            <!--Description-->
            <h3 text-size-xs text-color-light font-light text-wrap padding-top>{{item.description}}</h3>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
