<!--Themes Simple -->
<ion-grid no-padding>
  <ion-row>
    <ion-col no-padding size="12">
      <ion-list>
        <!-- Header-title -->
        <ion-list-header box-shadow margin-bottom>
          <h1 text-size-md text-color-accent font-regular text-capitalize>{{data.title}}</h1>
        </ion-list-header>
        <!-- List -->
        <ion-item *ngFor="let entry of data.items">
          <ion-label text-size-md text-color-primary font-bold text-wrap>{{entry.title}}</ion-label>
          <ion-toggle [value]="entry.id" (ionChange)="onItemClickFunc(entry)" [checked]="entry.isChecked">
          </ion-toggle>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
