<!--  Theme Form - Form + Write Comment -->
<ion-content>
  <ion-slides #wizardSlider pager="true" *ngIf="data != null"
  (ionSlideDidChange)="ionSlideDidChange($event)"
  (ionSlideReachStart)="ionSlideReachStart($event)"
  (ionSlideReachEnd)="ionSlideReachEnd($event)">
    <ion-slide *ngFor="let item of data.items" background-size
    [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}">
      <ion-card no-box-shadow text-left>
        <ion-img float-start logo [src]="item.logo"></ion-img>
        <div clearfix></div>
        <ion-card-content no-padding>
          <h1 text-size-md text-color-accent font-light padding-top>{{item.title}}</h1>
          <div clearfix></div>
          <p text-size-xs text-color-secondary font-light padding-top>{{item.subtitle}}</p>
          <div clearfix></div>
          <p text-size-xs text-color-secondary font-light padding-top>{{item.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!--Button section-->
  <div *ngIf="data != null">
    <ion-button fill="clear" text-capitalize float-start (click)="onPreviousFunc()" *ngIf="prev">
      {{data.btnPrev}}
    </ion-button>
    <ion-button fill="clear" text-capitalize float-end (click)="onNextFunc()" *ngIf="next">
      {{data.btnNext}}
    </ion-button>
    <ion-button fill="clear" text-capitalize float-end (click)="onFinishFunc()" *ngIf="!next">
      {{data.btnFinish}}
    </ion-button>
  </div>
</ion-content>
